@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .space-x-tip-col {
    margin-left: 0.32rem;
  }

  .svg-button {
    stroke: #fff;
    transition: stroke 0.1s ease-in-out;
  }

  .svg-button:hover {
    stroke: red;
    background: white;
    border-radius: 100%;
  }
}
